<center><p>Ciao @{{target_account}}, ho fatto il reblog della tua entry per il contest #untobisunto!</p></center>
<br>
<center><p>Puoi visualizzare e supportare i post di tutti i partecipanti seguendo @{{author_account}}
     o recandoti a questa pagina [peakd.com/@{{author_account}}/feed](https://peakd.com/@{{author_account}}/feed).</p></center>
