<p>💬 Ciao @{{target_account}}! Ho appena fatto il reblog del tuo post per <strong>#untobisunto</strong> — grazie per aver partecipato!</p>

<br>

<p>{{random_info}}</p>

<br>

<p>Se vuoi dare un’occhiata anche agli altri partecipanti e supportare i loro post, puoi seguire @{{author_account}} oppure visitare questa pagina:</p>
<p><a href="https://peakd.com/@{{author_account}}" target="_blank">🔗 peakd.com/@{{author_account}}</a></p>


<img src="https://files.peakd.com/file/peakd-hive/arc7icwolf/23xL2wvSikAMtg8y8fa1xWKHLsxQnxtsiKQurmLJhHGDRHZrsDREwvX9Rr6xsvdpQcJgt.jpg"/>

<center><p><sub>immagine di proprietà della community Olio di Balena</sub></p><center>
